* {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: 100vh;
  background: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  color: #F8EEE4;
  text-decoration: none;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 83.6%; 
  margin-top: 63px;
}

.header__logo {
  flex: 1;
}

.header__logo-img {
  width: 104px;
  height: 39px;
}

.header__menu {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.header__menu-link {
  font-family: 'Museo Sans Cyrl';
  font-size: 16px;
  line-height: 19px;
  margin-right: 24px;
}

.header__menu-link:last-child {
  margin-right: 0;
}

.promo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section {
  width: 50%;
}

.section__title {
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin-left: 16.4%;
}

.section__title-bali {
  font-family: 'PT Serif';
  font-size: 200px;
  line-height: 265px;
  color: #F8EEE4;
  opacity: 0.4;
  margin-top: 92px;
}

.section__title-indonesia {
  position: absolute;
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 93px;
  color: #F8EEE4;
  margin-bottom: 8px;
  margin-left: 59px; 
}

.section__text-guide {
  font-family: 'Museo Sans Cyrl';
  font-size: 16px;
  line-height: 19px;
  color: #F8EEE4;
  width: 399px;
  text-align: left;
  margin-left: 17.7%;
  margin-bottom: 24px;
}

.button {
  text-align: left;
  margin-left: 16.4%;
  
}

.button__click {
  font-family: 'Museo Sans Cyrl';
  font-size: 16px;
  line-height: 19px;
  width: 209px;
  height: 44px;
  color: #FFF;
  background: #D4BEA3;
  border-radius: 48px;
}

.aside {
  width: 50%;
}

.aside__galery {
  margin-top: 185px;
  display: flex;
  align-items: center;
}

.aside__galery-img {
  margin-right: 24px;
}

.img1 {
  width: 225.75px;
  height: 300px;
  margin-left: 8.6%;
}

.img2 {
  width: 202.27px;
  height: 270px;
}

.img3 {
  width: 180.6px;
  height: 270px;
  margin-right: 0;
}


@media (max-width: 768px) {
  .background {
    align-items: center;
  }

  .header {
    margin-top: 42px;
    width: 80.2%;
  }

  .header__menu {
    display: none;
  }

  .header__menu-burger {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 17px;
  }

  .header__menu-burger span {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background: #FCF5ED;
    cursor: move;
  }  

  .header__menu-burger span:nth-child(1) {
    top: 2px;
  }

  .header__menu-burger span:nth-child(2), 
  .header__menu-burger span:nth-child(3), 
  .header__menu-burger span:nth-child(4) {
    top: 9px;
  }

  .header__menu-burger span:nth-child(5) {
    top: 16px;
  }

  .promo {
    width: 100%;
    display: flex;
  }

  .section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 343px;
  }

  .section__title {
    width: 91.4%;
    margin-left: 0;
  }

  .section__title-bali {
    font-size: 170px;
    line-height: 225px;
    margin-top: 54.88px;
  }

  .section__title-indonesia {
    font-size: 60px;
    line-height: 79px;
    margin-bottom: 5px;
  }

  .section__text-guide {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 292.74px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35.9px;
    margin-bottom: 35.9px;
  }

  br {
    display: none;
  }

  .button {
    position: absolute;
    margin-left: 76.15px;
    text-align: center;
  }

  .aside {
    display: none;
  }
}


@media (min-width: 769px) and (max-width: 1023px) {

  .header {
    width: 92.3%; 
  }

  .section__title {
    margin-left: 8%;
  }

  .section__title-bali {
    margin-top: 94.48px;
  }

  .section__text-guide {
    margin-left: 8.9%;
  }
  .button {
    margin-left: 8.9%;
  }

  .aside__galery {
    margin-top: 184.48px;
  }

  .img1 {
    margin-left: 0;
  }
}